:root {
    --cur-size: 10rem;
}

@media screen and (max-width: 670px) {
    :root {
        --cur-size: 8rem;
    }
}

@media screen and (max-width: 563px) {
    :root {
        --cur-size: 5rem;
    }
}