<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        <h2>Авторизация</h2>
            
        {% for field in form %}
        <p>
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
             {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
        <input type="submit" value="Login" />
        <a href="/register">Еще не зарегестрированы?</a>
    </form>
</body>
</html>